{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block content %}

<h1 class="display-1">User Information</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<ul>
    <li>Name: {{user.first_name}} {{user.last_name}}</li>
    <li>Username: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
</ul>

    <form>
        {{form.hidden_tag()}}
        <button class="btn btn-success"
                formmethod="GET"
                formaction="/users/{{user.username}}/feedback/add">
          Add Feedback
        </button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/users/{{user.username}}/delete">
          Delete User
        </button>
        <button class="btn btn-info"
                formmethod="GET"
                formaction="/logout">
          Add Feedback
        </button>
    </form>

<!-- <a href="/users/{{user.username}}/feedback/add" class="btn btn-success">Add Feedback</a>
<a href="/users/{{user.username}}/delete" class="btn btn-danger">Delete User</a>
<a href="/logout" class="btn btn-info">Logout</a> -->

{% if user.feedback %}
<h4 class="section-head">Feedback:</h4>
<div class="container">
    {% for feedback in user.feedback %}
    <div class="card">
        <div class="card-body feedback">
            <h5>{{ feedback.title }}</h5>
            <p>{{feedback.content}}</p>
        </div>
    </div>
    <form>
        {{form.hidden_tag()}}
        <button class="btn btn-warning"
                formmethod="GET"
                formaction="/feedback/{{ feedback.id }}/update">
          Edit
        </button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/feedback/{{ feedback.id }}/delete">
          Delete
        </button>
    </form>
    {% endfor %}
</div>
{% endif %}



{% endblock %}